@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #navbar-header {
        margin-top: 3.75rem !important;
    }

    #top.smaller div#navbar-header {
        margin-top: 1.1rem !important;
    }

    .social a svg {
        height:61px;
    }

    p.siteby {
        margin-top:.75rem !important;
        color:#FFF !important;
    }
}
