@font-face {
    font-family: 'LatoBlackItalic';
    src: local('LatoBlackItalic'), url('Lato-BlackItalic-webfont.eot');
    src: local('LatoBlackItalic'), url('Lato-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BlackItalic-webfont.woff') format('woff'),
         url('Lato-BlackItalic-webfont.ttf') format('truetype'),
         url('Lato-BlackItalic-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'LatoBlack';
    src: local('LatoBlack'), url('Lato-Black-webfont.eot');
    src: local('LatoBlack'), url('Lato-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Black-webfont.woff') format('woff'),
         url('Lato-Black-webfont.ttf') format('truetype'),
         url('Lato-Black-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'LatoBoldItalic';
    src: local('LatoBoldItalic'), url('Lato-BoldItalic-webfont.eot');
    src: local('LatoBoldItalic'), url('Lato-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BoldItalic-webfont.woff') format('woff'),
         url('Lato-BoldItalic-webfont.ttf') format('truetype'),
         url('Lato-BoldItalic-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: local('LatoBold'), url('Lato-Bold-webfont.eot');
    src: local('LatoBold'), url('Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bold-webfont.woff') format('woff'),
         url('Lato-Bold-webfont.ttf') format('truetype'),
         url('Lato-Bold-webfont.svg#LatoBold') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'LatoItalic';
    src: local('LatoItalic'), url('Lato-Italic-webfont.eot');
    src: local('LatoItalic'), url('Lato-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Italic-webfont.woff') format('woff'),
         url('Lato-Italic-webfont.ttf') format('truetype'),
         url('Lato-Italic-webfont.svg#LatoItalic') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: local('LatoRegular'), url('Lato-Regular-webfont.eot');
    src: local('LatoRegular'), url('Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Regular-webfont.woff') format('woff'),
         url('Lato-Regular-webfont.ttf') format('truetype'),
         url('Lato-Regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'LatoLightItalic';
    src: local('LatoLightItalic'), url('Lato-LightItalic-webfont.eot');
    src: local('LatoLightItalic'), url('Lato-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-LightItalic-webfont.woff') format('woff'),
         url('Lato-LightItalic-webfont.ttf') format('truetype'),
         url('Lato-LightItalic-webfont.svg#LatoLightItalic') format('svg');
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'LatoLight';
    src: local('LatoLight'), url('Lato-Light-webfont.eot');
    src: local('LatoLight'), url('Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Light-webfont.woff') format('woff'),
         url('Lato-Light-webfont.ttf') format('truetype'),
         url('Lato-Light-webfont.svg#LatoLight') format('svg');
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'LatoHairlineItalic';
    src: local('LatoHairlineItalic'), url('Lato-HairlineItalic-webfont.eot');
    src: local('LatoHairlineItalic'), url('Lato-HairlineItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-HairlineItalic-webfont.woff') format('woff'),
         url('Lato-HairlineItalic-webfont.ttf') format('truetype'),
         url('Lato-HairlineItalic-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'LatoHairline';
    src: local('LatoHairline'), url('Lato-Hairline-webfont.eot');
    src: local('LatoHairline'), url('Lato-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Hairline-webfont.woff') format('woff'),
         url('Lato-Hairline-webfont.ttf') format('truetype'),
         url('Lato-Hairline-webfont.svg#LatoHairline') format('svg');
    font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
	src: local('BebasNeue'), url('BebasNeue-webfont.eot');
    src: local('BebasNeue'), url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('BebasNeue-webfont.woff') format('woff'),
		 url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeue') format('svg');
    font-weight: normal; font-style: normal;
}